*.npz
!/Python/blade_sampling/blade_crop_fast.npz
!/Python/blade_sampling_full/blade_crop_ufast.npz
!/test/template_points.npz
!/test/template_rbf_points.npz
!/test/template_trajectories.npz
!/test/template_w.npz
*.csv
*.pyc
/Turbine/
/motoman/
*.wrl
!/test/arocamara.wrl
!/test/dummy.wrl
!/test/iris.wrl
!/test/rotor.wrl
*.xml
!/test/dummy.xml
/trajectory
/plots
