*.npz
!/coating_trajectories/test/dijkstra_test/*.npz
*.csv
*.pyc
/Turbine/
/motoman/
*.wrl
*.xml
!/coating_trajectories/test/motoman/*.xml
/trajectory
/plots
!/coating_trajectories/test/template/*
*~
.*.sw?
*.pkl